### Activate venv

!source .venv/bin/activate

### Install Required Libraries & Packages

In [79]:
!pip install -r requirements.txt

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (2.0.15)
Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (9.4.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (2.0.2)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (3.7.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy->-r requirements.txt (line 1)) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy->-r requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 3)) (1.24.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->-r requirements.txt (line 4)) (3.0.9)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 3)) (1.16.0)

### Import Libraries

In [80]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text

### Connect to MySQL using SQLAlchemy

In [81]:
connection_string = "mysql+mysqlconnector://root:P%40ssw0rd@mysql-db:3306/covid_data"
engine = create_engine(connection_string, echo=True)

#### Test Connection

In [82]:
with engine.connect() as conn:
    test_df = pd.read_sql(text("SHOW DATABASES;"), conn)
test_df

2025-08-31 16:02:36,257 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-08-31 16:02:36,258 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-31 16:02:36,260 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-08-31 16:02:36,260 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-31 16:02:36,261 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-08-31 16:02:36,262 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-31 16:02:36,264 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-31 16:02:36,265 INFO sqlalchemy.engine.Engine SHOW DATABASES;
2025-08-31 16:02:36,266 INFO sqlalchemy.engine.Engine [generated in 0.00194s] {}
2025-08-31 16:02:36,270 INFO sqlalchemy.engine.Engine ROLLBACK

             Database
0          covid_data
1  information_schema
2               mysql
3  performance_schema
4                 sys

### Load Data

In [83]:
with engine.connect() as conn:
    daily_df = pd.read_sql(text("SELECT * FROM daily_reports"), conn)

2025-08-31 16:02:36,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-31 16:02:36,281 INFO sqlalchemy.engine.Engine SELECT * FROM daily_reports
2025-08-31 16:02:36,282 INFO sqlalchemy.engine.Engine [generated in 0.00233s] {}
2025-08-31 16:02:36,930 INFO sqlalchemy.engine.Engine ROLLBACK

### Data Profiling

In [84]:
daily_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [85]:
daily_df.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

### Data Cleaning

In [86]:
# Convert date column to datetime
daily_df['Date'] = pd.to_datetime(daily_df['Date'])
daily_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [87]:
# Data Timeframe
start_date = daily_df['Date'].min()
end_date = daily_df['Date'].max()
date_range_df = pd.DataFrame({'Start Date':[start_date.date()], 'End Date':[end_date.date()]})
print('Dataset Date Range')
display(date_range_df)

Dataset Date Range

   Start Date    End Date
0  2020-01-22  2020-07-27

In [88]:
# Fill missing province/state
daily_df['Province/State'] = daily_df['Province/State'].fillna('Unknown')
daily_df['Province/State'] = daily_df['Province/State'].replace('', 'Unknown')
daily_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Unknown,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Unknown,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,Unknown,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,Unknown,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,Unknown,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [89]:
# Rename `Country/Region` to `Country`
daily_df.rename(columns={'Country/Region': 'Country'}, inplace=True)
daily_df.head()

,Province/State,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Unknown,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Unknown,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,Unknown,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,Unknown,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,Unknown,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

### Feature Engineering

#### Daily new cases per country

In [90]:
daily_df['New Cases'] = daily_df.groupby('Country')['Confirmed'].diff().fillna(daily_df['Confirmed'])
daily_df['New Deaths'] = daily_df.groupby('Country')['Deaths'].diff().fillna(daily_df['Deaths'])
daily_df.tail()

,Province/State,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region,New Cases,New Deaths
49063,Unknown,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa,2.0,0.0
49064,Unknown,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean,10.0,4.0
49065,Unknown,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa,0.0,0.0
49066,Unknown,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe,43.0,1.0
49067,Unknown,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa,0.0,0.0

#### Clip negative new cases (if any)

In [91]:
daily_df['New Cases'] = daily_df['New Cases'].clip(lower=0)
daily_df['New Deaths'] = daily_df['New Deaths'].clip(lower=0)
daily_df.tail()

,Province/State,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region,New Cases,New Deaths
49063,Unknown,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa,2.0,0.0
49064,Unknown,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean,10.0,4.0
49065,Unknown,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa,0.0,0.0
49066,Unknown,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe,43.0,1.0
49067,Unknown,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa,0.0,0.0

#### 7-day rolling averages

In [92]:
daily_df['Avg7 New Cases'] = daily_df.groupby('Country')['New Cases'].transform(lambda s: s.rolling(7, min_periods=1).mean())
daily_df['Avg7 New Deaths'] = daily_df.groupby('Country')['New Deaths'].transform(lambda s: s.rolling(7, min_periods=1).mean())
daily_df.tail()

,Province/State,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region,New Cases,New Deaths,Avg7 New Cases,Avg7 New Deaths
49063,Unknown,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa,2.0,0.0,17.000000,0.000000
49064,Unknown,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean,10.0,4.0,10.285714,5.142857
49065,Unknown,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa,0.0,0.0,2.857143,0.000000
49066,Unknown,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe,43.0,1.0,44.857143,0.428571
49067,Unknown,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa,0.0,0.0,20.857143,0.857143

#### Mortality and recovery rates per country (latest cumulative)

In [93]:
latest = daily_df.groupby('Country').agg(
    total_confirmed = ('Confirmed', 'max'),
    total_deaths = ('Deaths', 'max'),
    total_recovered = ('Recovered', 'max'),
    total_active = ('Active', 'max')
).reset_index()


latest['mortality_rate_pct'] = (latest['total_deaths'] / latest['total_confirmed'] * 100).round(2)
latest['recovery_rate_pct'] = (latest['total_recovered'] / latest['total_confirmed'] * 100).round(2)
latest.head()

,Country,total_confirmed,total_deaths,total_recovered,total_active,mortality_rate_pct,recovery_rate_pct
0,Afghanistan,36263,1269,25198,20311,3.50,69.49
1,Albania,4880,144,2745,1991,2.95,56.25
2,Algeria,27973,1163,18837,8114,4.16,67.34
3,Andorra,907,52,803,504,5.73,88.53
4,Angola,950,41,242,667,4.32,25.47

### Exploratory Data Analysis

#### Total confirmed, deaths, recovered, active worldwide

In [94]:
world_totals = daily_df[['Confirmed', 'Deaths', 'Recovered', 'Active']].sum().to_frame().T
display(world_totals)

   Confirmed    Deaths  Recovered     Active
0  828508482  43384903  388408229  396715350

#### Aggregate totals by country

In [95]:
totals_by_country = daily_df.groupby('Country', as_index=False)[
    ['Confirmed', 'Deaths', 'Recovered', 'Active']
].sum().sort_values('Confirmed', ascending=False)
display(totals_by_country)

                   Country  Confirmed    Deaths  Recovered     Active
173                     US  224345948  11011411   56353416  156981121
23                  Brazil   89524967   3938034   54492873   31094060
138                 Russia   45408411    619385   25120448   19668578
79                   India   40883464   1111831   23783720   15987913
157                  Spain   27404045   3033030   15093583    9277432
..                     ...        ...       ...        ...        ...
140  Saint Kitts and Nevis       1772         0       1295        477
68               Greenland       1507         0       1372        135
75                Holy See       1356         0        742        614
130       Papua New Guinea       1185         2        695        488
183         Western Sahara        901        63        648        190

[187 rows x 5 columns]

#### Top 10 countries by deaths

In [96]:
top10_deaths = totals_by_country.nlargest(10, 'Deaths')
display(top10_deaths)

            Country  Confirmed    Deaths  Recovered     Active
173              US  224345948  11011411   56353416  156981121
177  United Kingdom   26748587   3997775     126217   22624595
23           Brazil   89524967   3938034   54492873   31094060
85            Italy   26745145   3707717   15673910    7363518
61           France   21210926   3048524    7182115   10980287
157           Spain   27404045   3033030   15093583    9277432
111          Mexico   14946202   1728277   11141225    2076700
79            India   40883464   1111831   23783720   15987913
81             Iran   19339267   1024136   15200895    3114236
16          Belgium    6281116    963679    1627492    3689945

#### Daily trend for Egypt

In [97]:
egypt_trend = daily_df[daily_df['Country'] == 'Egypt'][['Date', 'Confirmed', 'Deaths', 'Recovered', 'Active']]
display(egypt_trend)

            Date  Confirmed  Deaths  Recovered  Active
96    2020-01-22          0       0          0       0
357   2020-01-23          0       0          0       0
618   2020-01-24          0       0          0       0
879   2020-01-25          0       0          0       0
1140  2020-01-26          0       0          0       0
...          ...        ...     ...        ...     ...
47859 2020-07-23      90413    4480      31066   54867
48120 2020-07-24      91072    4518      31970   54584
48381 2020-07-25      91583    4558      32903   54122
48642 2020-07-26      92062    4606      33831   53625
48903 2020-07-27      92482    4652      34838   52992

[188 rows x 5 columns]

#### Summarize by WHO region

In [98]:
region_summary = daily_df.groupby('WHO Region', as_index=False)[
    ['Confirmed','Deaths','Recovered','Active']
].sum().sort_values('Confirmed', ascending=False)
display(region_summary)

              WHO Region  Confirmed    Deaths  Recovered     Active
1               Americas  402261194  19359292  157069444  225832458
3                 Europe  248879793  19271040  123202075  106406678
2  Eastern Mediterranean   74082892   1924029   48050703   24108160
4        South-East Asia   55118365   1458134   30030327   23629904
5        Western Pacific   26374411    932430   18861950    6580031
0                 Africa   21791827    439978   11193730   10158119

#### Mortality and recovery rate per country

In [99]:
country_summary = totals_by_country.copy()
country_summary['Mortality Rate'] = (country_summary['Deaths'] / country_summary['Confirmed'] * 100).round(2)
country_summary['Recovery Rate'] = (country_summary['Recovered'] / country_summary['Confirmed'] * 100).round(2)
country_summary_filtered = country_summary[country_summary['Confirmed'] > 1000].sort_values('Mortality Rate', ascending=False)
display(country_summary_filtered)

,Country,Confirmed,Deaths,Recovered,Active,Mortality Rate,Recovery Rate
184,Yemen,67180,17707,23779,25694,26.36,35.40
16,Belgium,6281116,963679,1627492,3689945,15.34,25.91
177,United Kingdom,26748587,3997775,126217,22624595,14.95,0.47
61,France,21210926,3048524,7182115,10980287,14.37,33.86
85,Italy,26745145,3707717,15673910,7363518,13.86,58.60
...,...,...,...,...,...,...,...
148,Seychelles,3977,0,1247,2730,0.00,31.36
30,Cambodia,17079,0,13917,3162,0.00,81.49
19,Bhutan,4971,0,2838,2133,0.00,57.09
114,Mongolia,16999,0,9902,7097,0.00,58.25
181,Vietnam,40675,0,32838,7837,0.00,80.73

#### Highest daily growth (average new cases) per country

In [100]:
avg_new_cases = daily_df.groupby('Country')['New Cases'].mean().sort_values(ascending=False).head(10).reset_index()
display(avg_new_cases)

          Country     New Cases
0              US  22820.526596
1          Brazil  12991.356383
2  United Kingdom  12898.838975
3          France  10222.467602
4           India   7872.728723
5     Netherlands   6838.005319
6          Russia   4344.042553
7          Canada   3887.426418
8         Denmark   3346.234043
9    South Africa   2407.069149

#### First confirmed case per country

In [101]:
first_case_date = daily_df[daily_df['Confirmed'] > 0].groupby('Country')['Date'].min().reset_index()
display(first_case_date)

                Country       Date
0           Afghanistan 2020-02-24
1               Albania 2020-03-09
2               Algeria 2020-02-25
3               Andorra 2020-03-02
4                Angola 2020-03-20
..                  ...        ...
182  West Bank and Gaza 2020-03-05
183      Western Sahara 2020-04-05
184               Yemen 2020-04-10
185              Zambia 2020-03-18
186            Zimbabwe 2020-03-20

[187 rows x 2 columns]

#### First 10 countries to report confirmed cases

In [102]:
first10_countries = first_case_date.nsmallest(10, 'Date')
display(first10_countries)

         Country       Date
36         China 2020-01-22
87         Japan 2020-01-22
155  South Korea 2020-01-22
164      Taiwan* 2020-01-22
167     Thailand 2020-01-22
173           US 2020-01-22
150    Singapore 2020-01-23
181      Vietnam 2020-01-23
61        France 2020-01-24
105     Malaysia 2020-01-25

#### Peak daily cases per country

In [103]:
peak_daily_cases = daily_df.groupby('Country')['New Cases'].max().reset_index().sort_values('New Cases', ascending=False).head(10)
display(peak_daily_cases)

            Country  New Cases
177  United Kingdom   300099.0
61           France   208396.0
173              US    77255.0
23           Brazil    67860.0
36            China    67652.0
32           Canada    58692.0
120     Netherlands    53037.0
79            India    49981.0
89       Kazakhstan    18757.0
37         Colombia    16306.0

#### Mortality and recovery rates by WHO region

In [104]:
region_summary['Mortality_Rate_Pct'] = (region_summary['Deaths'] / region_summary['Confirmed'] * 100).round(2)
region_summary['Recovery_Rate_Pct'] = (region_summary['Recovered'] / region_summary['Confirmed'] * 100).round(2)
display(region_summary)

,WHO Region,Confirmed,Deaths,Recovered,Active,Mortality_Rate_Pct,Recovery_Rate_Pct
1,Americas,402261194,19359292,157069444,225832458,4.81,39.05
3,Europe,248879793,19271040,123202075,106406678,7.74,49.50
2,Eastern Mediterranean,74082892,1924029,48050703,24108160,2.60,64.86
4,South-East Asia,55118365,1458134,30030327,23629904,2.65,54.48
5,Western Pacific,26374411,932430,18861950,6580031,3.54,71.52
0,Africa,21791827,439978,11193730,10158119,2.02,51.37

### Using SQL Directly

#### Helper function to run query and return DataFrame

In [105]:
def run_query(query: str):
    with engine.connect() as conn:
        result = conn.execute(text(query))
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    return df

#### 10 countries with the highest total deaths

In [106]:
q_top_deaths = """
SELECT 
    `Country/Region`,
    SUM(Deaths) AS total_deaths
FROM daily_reports
GROUP BY `Country/Region`
ORDER BY total_deaths DESC
LIMIT 10;
"""
df_top_deaths = run_query(q_top_deaths)
display(df_top_deaths)

2025-08-31 16:02:37,527 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-31 16:02:37,528 INFO sqlalchemy.engine.Engine
SELECT
    `Country/Region`,
    SUM(Deaths) AS total_deaths
FROM daily_reports
GROUP BY `Country/Region`
ORDER BY total_deaths DESC
LIMIT 10;

2025-08-31 16:02:37,529 INFO sqlalchemy.engine.Engine [generated in 0.00213s] {}
2025-08-31 16:02:37,604 INFO sqlalchemy.engine.Engine ROLLBACK

   Country/Region total_deaths
0              US     11011411
1  United Kingdom      3997775
2          Brazil      3938034
3           Italy      3707717
4          France      3048524
5           Spain      3033030
6          Mexico      1728277
7           India      1111831
8            Iran      1024136
9         Belgium       963679

### Data Visualization